canvas {
    display: block;
    position: fixed;
    pointer-events: auto;
    z-index: -1;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    opacity: 100;
}

body { 
    margin: 0; 
    overflow: auto;
    position: relative;
    z-index: 0;
}

aside {
    width: 30%;
    float: left;
    padding-right: 10px;
    margin-right: 10px;
}
p {
    font-size: small;
    color:rgb(255, 245, 212);
    font-family:'Courier New', Courier, monospace;
}
h3 {
    color:rgb(255, 245, 212);
    font-family:'Courier New', Courier, monospace;
}
a:link {
    font-size: small;
    color: rgb(255, 245, 212);
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}
a:visited {
    font-size: small;
    color: rgb(255, 245, 212);
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}
a:hover {
    font-size: small;
    color: rgb(255, 245, 212);
    font-style: italic;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}
a:active {
    font-size: small;
    color: rgb(255, 245, 212);
    font-weight: 900;
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
}
.content {
    width: 40%;
    float: left;
}
.text {
    color:rgb(255, 245, 212);
    font-family:'Courier New', Courier, monospace;
}
nav a {
    font-size: small;
    color: rgb(255, 245, 212);
    text-decoration: none;
    font-family:'Courier New', Courier, monospace;
    cursor: pointer;
}
.section {
    display: none;
    width: 40%;
    float: left;
}
.section.active {
    display: block;
}
nav a.active::before {
    content: '> ';
}